# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Daniel Rammer
email: dnl.rammer@gmail.com
description: Generalistic game developer from Austria
#baseurl: "/github.com/redovic" # the subpath of your site, e.g. /blog
#url: "https://github.com/redovic" # the base hostname & protocol for your site
url: "https://redovic.github.io" # the base hostname & protocol for your site
facebook: daniel.rammer

# Build settings
markdown: kramdown
kramdown:
  input: GFM
excerpt_separator: "" #disable excerpts

exclude: [
  "package.json",
  "node_modules",
  "gulpfile"
]

plugins:
  - jekyll-feed
  - jekyll-sitemap

collections:
  pages:
    output: true
  projects:
    output: true
    permalink: /projects/:path/

defaults:
  - scope:
      type: projects
    values:
      layout: project
