
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
address {
  line-height: 1.5em;
  margin-top: 0.5em;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2em;
  color: $header-color;
}

h2 {  
  margin-top: 1em;
  font-size: 1.3em;
  font-weight: 600;
}

h3 {
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: 600;
}

em {
  font-weight: 600;
}

a {
  color: $text-color;
  text-decoration: underline;
  transition: color 75ms ease-out;

  &:hover {
    color: darken($text-color, 15);
  }
}
